<!-- telechargement.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Téléchargement de fichiers</title>
</head>
<body>
    <h1>Téléchargement de fichiers</h1>

    <!-- Affichez le formulaire de téléchargement -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <h2>Fichiers téléchargés :</h2>
    <ul>
        {% for objet in objets %}
            <li>
                {{ objet.nom }} - <a href="{{ objet.fichier.url }}" download>Télécharger</a>
                <form method="post" action="deleteimg/{{ objet.pk }}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?')">Supprimer</button>
                </form>
            </li>
        {% empty %}
            <li>Aucun fichier téléchargé.</li>
        {% endfor %}
    </ul>
</body>
</html>
