
    {% extends 'propterre/head.html' %}

    {% load static %}
    
    {% block HEAD %}
    {% endblock %}
       
    {% block content %}
        <div class='tout'>

            <div class="carou">
                <!-- Heat -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Heat/Heat.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/heat.webp" draggable="false"></a> </div>
                
                <!-- Memento -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Memento%20(2000)/Memento.2000.720p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/memento.jpg" draggable="false"> </a> </div>
                    
                <!-- Into The wild -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Into.The.Wild.2007.720p.BrRip.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/intothewild.jpg" draggable="false"> </a> </div>
                
                <!-- The Batman -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The.Batman.2022.1080p.WEBRip.x265-RARBG.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/batman.jpg" draggable="false"> </a> </div>
                    
                <!-- The Brdige on the River Kwai -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The.Bridge.on.the.River.Kwai.1957.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/kwai.jpg" draggable="false"> </a> </div>
                
                <!-- Vertigo -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Vertigo.1958.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/Vertigo.jpg" draggable="false"> </a> </div>
                    
                <!-- Cars -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Cars_(2006)_BluRay_720p_(fzmovies.net)_a81e455dcbeb47a875438276045110f6.mkv' draggable="false">
                        <img src="/static/propterre/images/affiches/cars.jpg" draggable="false"> </a> </div>

                <!-- Asterix Cleopatre -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Asterix%20and%20Obelix%20Mission%20Cleopatre%202002%20BluRay%20720p%20DTS%20x264-3Li/Asterix%20and%20Obelix%20Mission%20Cleopatre%202002%203Li%20BluRay%20720p.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/asterix-cleo.jpg" draggable="false"> </a> </div>

                <!-- Mario Bros Movie -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The.Super.Mario.Bros.Movie.2023.1080p.HDCAM-C1NEM4%5bTGx%5d/The.Super.Mario.Bros.Movie.2023.1080p.HDCAM-C1NEM4.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/mario.jpg" draggable="false"> </a> </div>
                
                <!-- Harry Potter 1 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Harry.Potter.A.L.Ecole.Des.Sorciers.2001.MULTI.1080p.BluRay.HDLight.AC3.x264-gismo65.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/harrypotter.jpg" draggable="false"> </a> </div>

                <!-- Nobody -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Nobody.2021.720p.WEBRip.800MB.x264-GalaxyRG.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/nobody.jpg" draggable="false"> </a> </div>

                <!-- Evil Dead 1981 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/PSArips.com%20-%20The.Evil.Dead.1981.UNCUT.REMASTERED.720p.10bit.BluRay.6CH.x265.HEVC-PSA.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/evildead.jpg" draggable="false"> </a> </div>
                    
                <!-- V pour Vendetta -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/%5b%20OxTorrent.cc%20%5d%20V.pour.Vendetta.2005.MULTI.VFF.VFQ.VOSTFR.Subforced.1080p.HDLight.x264.AC3.AAC.5.1-Proper-KyX-Dread-Team.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/vpourvendetta.jpg" draggable="false"> </a> </div>

                <!-- Scary Movie 2000 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Scary%20Movie%20(Quadrilogy)/Scary.Movie.2000.BrRip.720p.x264.YIFY.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/scarymovie.jpg" draggable="false"> </a> </div>

                <!-- Jojo Rabbit -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Jojo%20Rabbit%20(2019)%20%5b1080p%5d%20%5bWEBRip%5d%20%5b5.1%5d%20%5bYTS.MX%5d/Jojo.Rabbit.2019.1080p.WEBRip.x264.AAC5.1-%5bYTS.MX%5d.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/jojo.jpg" draggable="false"> </a> </div>

                <!-- 12 Years a Slave -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/12%20Years%20a%20Slave%20(2013)%20%5b1080p%5d/12.Years.a.Slave.2013.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/12yearsaslave.jpg" draggable="false"> </a> </div>

                <!-- Hote Rwanda -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Hotel%20Rawanda%20(2008)/Hotel.Rawanda.2008.720p.BrRip.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/hotelrwanda.jpg" draggable="false"> </a> </div>

                <!-- Spirited Away -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Spirited%20Away%20(2001)%20%5bBluRay%5d%20%5b720p%5d%20%5bYTS.AM%5d/Spirited.Away.2001.720p.BluRay.x264-%5bYTS.AM%5d.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/spiritedaway.jpg" draggable="false"> </a> </div>

                <!-- The Departed -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Departed%20(2006)%20%5b1080p%5d/The.Departed.2006.BluRay.1080p.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/thedeparted.jpg" draggable="false"> </a> </div>

                <!-- The Grand Budapest Hotel -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Grand%20Budapest%20Hotel%20(2014)%20%5b1080p%5d/The.Grand.Budapest.Hotel.2014.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/grand.jpg" draggable="false"> </a> </div>

                <!-- The Revenant -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Revenant%20(2009)%20%5bBluRay%5d%20%5b1080p%5d%20%5bYTS.LT%5d/The.Revenant.2009.1080p.BluRay.x264-%5bYTS.LT%5d.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/therevenant.jpg" draggable="false"> </a> </div>
                
                <!-- The Social Network -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Social%20Network%20(2010)%20%5b1080%5d/The%20Social%20Network%20(2010)%201080p%20BrRip%20x264%20-%201.2GB%20-%20YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/thesocialnetwork.png" draggable="false"> </a> </div>
                    
                <!-- Whiplash -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Whiplash%20(2014)%20%5b1080p%5d/Whiplash.2014.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/whiplash.png" draggable="false"> </a> </div>

                <!-- Seven -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/%5b%20Torrent911.cc%20%5d%20SEVEN.1995.Multi.1080p.BluRay.x264-Pop.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/seven.png" draggable="false"> </a> </div>
                        
                 <!-- No Way Home -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/SPIDERMAN%20-%20NO%20WAY%20HOME.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/nowayhome.jpg" draggable="false"> </a> </div>
            
                <!-- John Wick 1 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/JOHN%20WICK%20-%20COMPLETE%20SAGA/CHAPTER%201.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/johnwick1.jpg" draggable="false"> </a> </div>
                
                <!-- John Wick 2 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/JOHN%20WICK%20-%20COMPLETE%20SAGA/CHAPTER%202.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/johnwick2.jpg" draggable="false"> </a> </div>
                
                <!-- John Wick 3 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/JOHN%20WICK%20-%20COMPLETE%20SAGA/CHAPTER%203.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/johnwick3.jpg" draggable="false"> </a> </div>

                <!-- John Wick 4 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/JOHN%20WICK%20-%20COMPLETE%20SAGA/CHAPTER%204.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/johnwick4.jpg" draggable="false"> </a> </div>

                <!-- Matrix -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Matrix%20(1999)/The.Matrix.1999.720p.BrRip.264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/matrix.jpg" draggable="false"> </a> </div>
                
                <!-- Nope -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/NOPE/NOPE.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/NOPE.jpg" draggable="false"> </a> </div>
                
                <!-- Gardiens de la Galaxie 3-->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/GUARDIANS%20OF%20THE%20GALAXY%20-%20VOLUME%20III/VOLUME%203.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/gardiens3.jpg" draggable="false"> </a> </div>
                
                <!-- Silence of the Lambs -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Silence%20Of%20The%20Lambs%20(1991)/The.Silence.Of.The.Lambs.1991.720p.BluRay.X264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/thesilenceofthelambs.jpg" draggable="false"> </a> </div>
                
                <!-- Avengers 3 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/AVENGERS/INFINITY%20WAR.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/infinitywar.jpg" draggable="false"> </a> </div>
                
                <!-- Avengers 4 -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/AVENGERS/ENDGAME.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/endgame.jpg" draggable="false"> </a> </div>
                
                <!-- Gladiator -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Gladiator%20(2000)/Gladiator.EXTENDED.2000.1080.BrRip.264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/gladiator.jpg" draggable="false"> </a> </div>
                
                <!-- Goodfellas -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Goodfellas%20(1990)/Goodfellas.1990.720p.BrRip.264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/goodfellas.jpg" draggable="false"> </a> </div>
                
                <!-- Inglorious Bastards -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/INGLORIOUS%20BASTARDS/Inglorious%20Bastards.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/inglorious.jpg" draggable="false"> </a> </div>

                <!-- Inception -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Inception%20(2010)%20%5b1080p%5d/Inception.2010.1080p.BrRip.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/inception.jpg" draggable="false"> </a> </div>
                
                <!-- The Godfather -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Godfather%20(1972)%20%5b1080p%5d/The.Godfather.1972.1080p.BrRip.x264.BOKUTOX.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/godfather.jpg" draggable="false"> </a> </div>

                <!-- World War Z -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/World%20War%20Z%20(2013)%20%5b1080p%5d/World.War.Z.2013.1080p.BluRay.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/worldwarz.jpg" draggable="false"> </a> </div>

                <!-- Brokeback Mountain -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Brokeback%20Mountain%20(2005)%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Brokeback%20Mountain%20(2005)%20(1080p%20BluRay%20x265%20Silence).mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/brokebackmountain.jpg" draggable="false"> </a> </div>
           
                <!-- Pulp Fiction -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/Pulp%20Fiction%20(1994)%20%5b1080p%5d/Pulp.Fiction.1994.1080p.BrRip.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/pulpfiction.jpg" draggable="false"> </a> </div>
           
                <!-- Shawshank Redemption -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/The%20Shawshank%20Redemption%20(1994)%20%5b1080p%5d/The.Shawshank.Redemption.1994.1080p.x264.YIFY.mp4' draggable="false">
                    <img src="/static/propterre/images/affiches/shawshanksredemption.jpg" draggable="false"> </a> </div>
                    
                <!-- A Quiet Place -->
                <div class="imgdiv"> <a href='http://films.lizziewizzie.site/films_et_series/A.Quiet.Place.Part.2.2021.HDRip.1080p.SLOTSLIGHTS.mkv' draggable="false">
                    <img src="/static/propterre/images/affiches/aquietplacepart.jpg" draggable="false"> </a> </div>
</div>

        </div>

        <script>
            const videoLinks = document.querySelectorAll('.imgdiv a');
            const navbarButton = document.getElementById('navbarButton');
            const imgtv = document.getElementById('imgtv');
            let isNavbarActive = false;
            
            // Vérifier si la navbar est active
            function checkNavbarActive() {
                return navbarButton.getAttribute('aria-expanded') === 'true';
            }
            
            navbarButton.addEventListener('click', function() {
                isNavbarActive = !isNavbarActive;
            });
            
            videoLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
            
                    const videoSrc = this.getAttribute('href');
                    const videoPlayer = videojs('my-video');
            
                    videoPlayer.src({
                        src: videoSrc,
                        type: 'video/mp4'
                    });
            
                    // Si la navbar n'est pas active, la déployer en cliquant sur le bouton
                    if (!isNavbarActive) {
                        navbarButton.click();
                    }
            
                    videoPlayer.play();
            
                    // Défiler automatiquement vers l'élément avec l'ID 'imgtv'
                    imgtv.scrollIntoView({ behavior: 'smooth' });              
                });
            });
            
            

            const videoPlayer = videojs('my-video');
        
            // Fonction pour mettre en pause/lecture la vidéo
            document.getElementById('btn-pause').addEventListener('click', function() {
                if (videoPlayer.paused()) {
                    videoPlayer.play();
                } else {
                    videoPlayer.pause();
                }
            });
        
            // Fonction pour gérer le volume
            document.getElementById('btn-volume').addEventListener('click', function() {
                if (videoPlayer.muted()) {
                    videoPlayer.muted(false);
                } else {
                    videoPlayer.muted(true);
                }
            });
        
            // Fonction pour activer le mode Picture-in-Picture
            document.getElementById('btn-pip').addEventListener('click', function() {
                if (videoPlayer !== document.pictureInPictureElement) {
                    videoPlayer.requestPictureInPicture();
                } else {
                    document.exitPictureInPicture();
                }
            });
        
            // Fonction pour passer en mode plein écran
            document.getElementById('btn-fullscreen').addEventListener('click', function() {
                if (videoPlayer.requestFullscreen) {
                    videoPlayer.requestFullscreen();
                } else if (videoPlayer.webkitRequestFullscreen) { // Safari
                    videoPlayer.webkitRequestFullscreen();
                } else if (videoPlayer.msRequestFullscreen) { // Internet Explorer
                    videoPlayer.msRequestFullscreen();
                }
            });
            

          </script>
          
    {% endblock %}


<!--{{l.date_parution|date:"d/m/Y"}} -->
