
{% extends 'propterre/head.html' %}

{% load static %}



{% block HEAD %}

<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'BOOTSTRAP/css_BOOTSTRAP/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}
   
{% block content %}
    <div class="tout">
<div class="carou2">
<div class="seriestout">
<div class="imgdiv0" draggable="false">
<img class="d-block w-100" draggable="false" id="manageimg" src="{% static 'propterre/images/affichesseries/personofinterest.jpg'%}"/>
</div>
<div class="imgdiv2">
<div class="saisons">
<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item" role="presentation">
<button aria-controls="Person-Of-Interest1" aria-selected="false" class="nav-link active active1" data-bs-target="#Person-Of-Interest1" data-bs-toggle="tab" id="Person-Of-Interestsaison1" role="tab" type="button">Saison 1</button>
</li>
<li class="nav-item" role="presentation">
<button aria-controls="Person-Of-Interest2" aria-selected="false" class="nav-link active1" data-bs-target="#Person-Of-Interest2" data-bs-toggle="tab" id="Person-Of-Interestsaison2" role="tab" type="button">Saison 2</button>
</li>
<li class="nav-item" role="presentation">
<button aria-controls="Person-Of-Interest3" aria-selected="false" class="nav-link active1" data-bs-target="#Person-Of-Interest3" data-bs-toggle="tab" id="Person-Of-Interestsaison3" role="tab" type="button">Saison 3</button>
</li>
<li class="nav-item" role="presentation">
<button aria-controls="Person-Of-Interest4" aria-selected="false" class="nav-link active1" data-bs-target="#Person-Of-Interest4" data-bs-toggle="tab" id="Person-Of-Interestsaison4" role="tab" type="button">Saison 4</button>
</li>
<li class="nav-item" role="presentation">
<button aria-controls="Person-Of-Interest5" aria-selected="false" class="nav-link active1" data-bs-target="#Person-Of-Interest5" data-bs-toggle="tab" id="Person-Of-Interestsaison5" role="tab" type="button">Saison 5</button>
</li>
</ul>
<div class="tab-content boutonsseries" id="myTabContent">
<div aria-labelledby="Person-Of-Interestsaison1" class="tab-pane active show fade" id="Person-Of-Interest1" role="tabpanel" tabindex="0">
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e01%20Pilot.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 1</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e02%20Ghosts.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 2</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e03%20Mission%20Creep.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 3</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e04%20Cura%20Te%20Ipsum.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 4</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e05%20Judgement.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 5</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e06%20The%20Fix.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 6</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e07%20Witness.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 7</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e08%20Foe.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 8</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e09%20Get%20Carter.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 9</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e10%20Number%20Crunch.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 10</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e11%20Super.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 11</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e12%20Legacy.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 12</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e13%20Root%20Cause.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 13</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e14%20Wolf%20And%20Cub.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 14</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e15%20Blue%20Code.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 15</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e16%20Risk.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 16</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e17%20Baby%20Blue.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 17</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e18%20Identity%20Crisis.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 18</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e19%20Flesh%20And%20Blood.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 19</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e20%20Matsya%20Nyaya.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 20</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e21%20Many%20Happy%20Returns.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 21</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e22%20No%20Good%20Deed.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 22</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%201%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S01e23%20Firewall.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 23</button>
</a>
</div>
<div aria-labelledby="Person-Of-Interestsaison2" class="tab-pane fade" id="Person-Of-Interest2" role="tabpanel" tabindex="0">
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e01%20The%20Contingency.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 1</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e02%20Bad%20Code.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 2</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e03%20Masquerade.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 3</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e04%20Triggerman.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 4</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e05%20Bury%20The%20Lede.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 5</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e06%20The%20High%20Road.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 6</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e07%20Critical.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 7</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e08%20Til%20Death.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 8</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e09%20C.O.D..mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 9</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e10%20Shadow%20Box.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 10</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e11%202%ce%a0r.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 11</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e12%20Prisoner's%20Dilemma.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 12</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e13%20Dead%20Reckoning.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 13</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e14%20One%20Percent.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 14</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e15%20Booked%20Solid.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 15</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e16%20Relevance.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 16</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e17%20Proteus.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 17</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e18%20All%20In.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 18</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e19%20Trojan%20Horse.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 19</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e20%20In%20Extremis.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 20</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e21%20Zero%20Day.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 21</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%202%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S02e22%20God%20Mode.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 22</button>
</a>
</div>
<div aria-labelledby="Person-Of-Interestsaison3" class="tab-pane fade" id="Person-Of-Interest3" role="tabpanel" tabindex="0">
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e01%20Liberty.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 1</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e02%20Nothing%20To%20Hide.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 2</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e03%20Lady%20Killer.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 3</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e04%20Reasonable%20Doubt.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 4</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e05%20Razgovor.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 5</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e06%20Mors%20Praematura.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 6</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e07%20The%20Perfect%20Mark.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 7</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e08%20Endgame.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 8</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e09%20The%20Crossing.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 9</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e10%20The%20Devil's%20Share.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 10</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e11%20Lethe.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 11</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e12%20Aletheia.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 12</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e13%204C.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 13</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e14%20Provenance.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 14</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e15%20Last%20Call.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 15</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e16%20Ram.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 16</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e17%20(Root%20Path).mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 17</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e18%20Allegiance.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 18</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e19%20Most%20Likely%20To....mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 19</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e20%20Death%20Benefit.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 20</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e21%20Beta.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 21</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e22%20A%20House%20Divided.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 22</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%203%20Complete%20720p%20BluRay%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S03e23%20Deus%20Ex%20Machina.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 23</button>
</a>
</div>
<div aria-labelledby="Person-Of-Interestsaison4" class="tab-pane fade" id="Person-Of-Interest4" role="tabpanel" tabindex="0">
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e01%20Panopticon.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 1</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e02%20Nautilus.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 2</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e03%20Wingman.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 3</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e04%20Brotherhood.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 4</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e05%20Prophets.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 5</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e06%20Pretenders.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 6</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e07%20Honor%20Among%20Thieves.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 7</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e08%20Point%20Of%20Origin.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 8</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e09%20The%20Devil%20You%20Know.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 9</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e10%20The%20Cold%20War.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 10</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e11%20If-Then-Else.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 11</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e12%20Control-Alt-Delete.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 12</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e13%20M.I.A..mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 13</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e14%20Guilty.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 14</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e15%20Q&amp;A.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 15</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e16%20Blunt.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 16</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e17%20Karma.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 17</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e18%20Skip.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 18</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e19%20Search%20And%20Destroy.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 19</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e20%20Terra%20Incognita.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 20</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e21%20Asylum.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 21</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%204%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S04e22%20Yhwh.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 22</button>
</a>
</div>
<div aria-labelledby="Person-Of-Interestsaison5" class="tab-pane fade" id="Person-Of-Interest5" role="tabpanel" tabindex="0">
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e01%20B.S.O.D..mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 1</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e02%20Snafu.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 2</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e03%20Truth%20Be%20Told.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 3</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e04%206,741.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 4</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e05%20Shotseeker.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 5</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e06%20A%20More%20Perfect%20Union.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 6</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e07%20Qso.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 7</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e08%20Reassortment.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 8</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e09%20Sotto%20Voce.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 9</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e10%20The%20Day%20The%20World%20Went%20Away.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 10</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e11%20Synecdoche.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 11</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e12%20.Exe.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 12</button>
</a>
<a href="http://films.lizziewizzie.site/films_et_series/Person%20of%20Interest/Person%20of%20Interest%20Season%205%20Complete%20720p%20WEB-DL%20x264%20%5bi_c%5d/Person%20Of%20Interest%20S05e13%20Return%200.mkv">
<button class="custom-btn btn-15" id="btn15">Épisode 13</button>
</a>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
<script>
        const videoLinks = document.querySelectorAll('.tab-pane a');
        const nbasicavbarButton = document.getElementById('navbarButton');
        const imgtv = document.getElementById('imgtv');
        let isNavbarActive = false;
        
        // Vérifier si la navbar est active
        function checkNavbarActive() {
            return navbarButton.getAttribute('aria-expanded') === 'true';
        }
        
        navbarButton.addEventListener('click', function() {
            isNavbarActive = !isNavbarActive;
        });
        
        videoLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
        
                const videoSrc = this.getAttribute('href');
                const videoPlayer = videojs('my-video');
        
                videoPlayer.src({
                    src: videoSrc,
                    type: 'video/mp4'
                });
        
                // Si la navbar n'est pas active, la déployer en cliquant sur le bouton
                if (!isNavbarActive) {
                    navbarButton.click();
                }
        
                videoPlayer.play();
        
                // Défiler automatiquement vers l'élément avec l'ID 'imgtv'
                imgtv.scrollIntoView({ behavior: 'smooth' });              
            });
        });
        
        

        const videoPlayer = videojs('my-video');
    
        // Fonction pour mettre en pause/lecture la vidéo
        document.getElementById('btn-pause').addEventListener('click', function() {
            if (videoPlayer.paused()) {
                videoPlayer.play();
            } else {
                videoPlayer.pause();
            }
        });
    
        // Fonction pour gérer le volume
        document.getElementById('btn-volume').addEventListener('click', function() {
            if (videoPlayer.muted()) {
                videoPlayer.muted(false);
            } else {
                videoPlayer.muted(true);
            }
        });
    
        // Fonction pour activer le mode Picture-in-Picture
        document.getElementById('btn-pip').addEventListener('click', function() {
            if (videoPlayer !== document.pictureInPictureElement) {
                videoPlayer.requestPictureInPicture();
            } else {
                document.exitPictureInPicture();
            }
        });
    
        // Fonction pour passer en mode plein écran
        document.getElementById('btn-fullscreen').addEventListener('click', function() {
            if (videoPlayer.requestFullscreen) {
                videoPlayer.requestFullscreen();
            } else if (videoPlayer.webkitRequestFullscreen) { // Safari
                videoPlayer.webkitRequestFullscreen();
            } else if (videoPlayer.msRequestFullscreen) { // Internet Explorer
                videoPlayer.msRequestFullscreen();
            }
        });
        

      </script>
      
{% endblock %}



<!--{{l.date_parution|date:"d/m/Y"}} -->