@font-face {
    font-family "Pixel Emulator" ;
    src : url(fonts/PixelEmulator-xq08.ttf) format('truetype');
}

@charset "utf-8";
/* CSS Document */

body{
background-image:url(images/background.gif);
background-size: cover;
font-family: "Pixel Emulator";
color:#FFFF00;
text-align:center;
}

h1{
margin: auto;
padding-top: 150px;
padding-bottom: 0px;
}

h2{
margin: auto;
padding: 0px 0;
}

marquee{
color:#006600;
}

a:link, a:visited{
color:#FFFFFF;
}
a:hover{
font-weight:bold;
}