<!DOCTYPE html>

{% load static %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="uwu!!!">
<meta name="keywords" content="">
<title>wizzie's place!!!</title>
<link rel="stylesheet" type="text/css" href="{% static 'wizzie/home.css' %}">

</head>

<body>
    <!--<h1 style="color:yellow;font-size:150px;"> <img src="images/trans.gif"
	 width="200" 
     height="200" /> Nette <img src="images/trans.gif"
	 width="200" 
     height="200" /> </h1> -->
    
    <h1 style="color:yellow;font-size:150px;">Nette</h1>
    
    <h2 style="color:lightblue;font-size:48px;">A Chilly Chill Place</h2>
    
    <br>
    
    <marquee width="400px" behavior="SCROLL" bgcolor="yellow" loop="1000">wizzie rulez!!!!!!</marquee>
    
    <br><br>
    
    
    
    <p>Good stuff:
    <img src="{% static 'wizzie/images/hot.gif' %}"><a href="https://dailymotion.com">DailyMotion</a> <img src="{% static 'wizzie/images/hot.gif' %}"> <a href="https://youtube.com">YouTube</a> <img src="{% static 'wizzie/images/hot.gif' %}"><a href="http://kk.kkkarot.tk">Le Kaka de la Karote</a> <img src="{% static 'wizzie/images/hot.gif' %}"> <a href="https://take.quiz-maker.com/QWH07HNBI"> normie quiz</a></p>
    
    <a style="color:lightblue;font-size:16px;" href="/docs/manuels"> <b> manuels histoire-géo </b> </a>
    <br>
    <a style="color:lightblue;font-size:16px;" href="/docs/liste.docx" <b> liste portfolio llce </b> </a>
    <br>
    
    <img src="{% static 'wizzie/images/trans.gif' %}"
	 width="200" 
     height="200" />
    
    <br> <br> <a style="color:pink;font-size:14px;"  href="{% static 'wizzie/images/send.jpg' %}"> <b>looking for an image? click here</a> </b><br><br>
    
    <a style="color:orange;font-size:14px;"  href="/docs/homework.html"> <b>looking for lizzie's homework? click here</b></a>
    
    <br> <br> <a style="color:#50ff41;font-size:14px;"  href="/docs/philo.html"> <b>tu cherches mon devoir de philo? clique ici</b></a>
    
    <div style='height:100px; text-align:center'><!-- <img src='images/counter.gif'> --><img src="{% static 'wizzie/images/ns_logo.gif' %}"><img src="{% static 'wizzie/images/ie_logo.gif' %}"><img src="{% static 'wizzie/images/noframes.gif' %}"><img src="{% static 'wizzie/images/notepad.gif' %}"></div>
    
    <br><br>
    
    
    <div class="uwu">
		
		
		
		<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
		
        <img src="{% static 'wizzie/images/onion.png' %}" width="100" 
        height="100" />
		
		
		
        <p style="color:darkred;">ONIONS????? here's my tor URL <br> http://uyzso5sgtvrnvhfq75xkb2sy5ceg36skrdjgat7fajeqrc6qowagbpyd.onion <br>

        <br> <img src="{% static 'wizzie/images/i2plogo.png' %}"width="197"
        height="50" />
	 
        <br> <br> i figured i2p out!!!! <br>  ♥ check it out here ♥ <br> http://xkz5yva432x7ezdf3ngflzdl6mz455cjln7xs66ahauwsgqow33q.b32.i2p </p>
    
		<img src="{% static 'wizzie/images/Fuck-2x-RIFE-RIFE4.0-59.94006fps.gif' %}" width="320" height="210"/>
	
        <p style="color:darkorange">   
        <br> <br> SCREW* MPA </p>
		
        
    </div>

 






</body>


